<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.5">
  <display-name>gestionNote</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServletProf</display-name>
    <servlet-name>LoginServletProf</servlet-name>
    <servlet-class>Servlet.LoginServletProf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServletProf</servlet-name>
    <url-pattern>/LoginServletProf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FiliereServlet</display-name>
    <servlet-name>FiliereServlet</servlet-name>
    <servlet-class>Servlet.FiliereServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FiliereServlet</servlet-name>
    <url-pattern>/FiliereServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTeacherServlet</display-name>
    <servlet-name>AddTeacherServlet</servlet-name>
    <servlet-class>Servlet.AddTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeacherServlet</servlet-name>
    <url-pattern>/AddTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddClasseServlet</display-name>
    <servlet-name>AddClasseServlet</servlet-name>
    <servlet-class>Servlet.AddClasseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddClasseServlet</servlet-name>
    <url-pattern>/AddClasseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEtudiantServlet</display-name>
    <servlet-name>AddEtudiantServlet</servlet-name>
    <servlet-class>Servlet.AddEtudiantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEtudiantServlet</servlet-name>
    <url-pattern>/AddEtudiantServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMatiereServlet</display-name>
    <servlet-name>AddMatiereServlet</servlet-name>
    <servlet-class>Servlet.AddMatiereServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMatiereServlet</servlet-name>
    <url-pattern>/AddMatiereServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginProfServlet</display-name>
    <servlet-name>LoginProfServlet</servlet-name>
    <servlet-class>Servlet.LoginProfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginProfServlet</servlet-name>
    <url-pattern>/LoginProfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoteServlet</display-name>
    <servlet-name>NoteServlet</servlet-name>
    <servlet-class>Servlet.NoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoteServlet</servlet-name>
    <url-pattern>/NoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssistantServlet</display-name>
    <servlet-name>AssistantServlet</servlet-name>
    <servlet-class>Servlet.AssistantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssistantServlet</servlet-name>
    <url-pattern>/AssistantServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateNoteServlet</display-name>
    <servlet-name>UpdateNoteServlet</servlet-name>
    <servlet-class>Servlet.UpdateNoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateNoteServlet</servlet-name>
    <url-pattern>/UpdateNoteServlet</url-pattern>
  </servlet-mapping>
</web-app>